__pycache__
Demo
Documents
Interim
Presentation
Literature
.vscode
*/svg-inkscape

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*Notes.bib